.carousel-inner {
  max-height: 420px;
}

.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}
.carousel-caption {
  position: absolute;
  top: 28%;
  /* transform: translateY(-30%); */
  transform: translateX(-40%);
}
